@{
    ViewData["Title"] = "Group Page";
}

@model GroupViewModel


<div class="col-sm-12 col-lg-12 col-md-12">
    <h1 class="display-4">@Model.CurrentCourse</h1>
</div>
<div class="col-sm-12 col-lg-12 col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Name</th>
                <th scope="col">Number Of Students</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <th scope="row" style="width: 25%">@group.GroupId</th>
                    <td style="width: 25%"><a asp-controller="Student" asp-action="StudentList" asp-route-groupId="@group.GroupId" asp-route-groupName="@group.Name">@group.Name</a></td>
                    <td style="width: 25%">@group.Students.Count</td>
                    <td style="width: 25%"><button type="button" class="btn btn-info">Edit</button><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

