@{
    ViewData["Title"] = "Student Page";
}

@model StudentViewModel


<div class="col-sm-12 col-lg-12 col-md-12">
    <h1 class="display-4">@Model.CurrentGroupName Group</h1>
</div>
<div class="col-sm-12 col-lg-12 col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Second Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <th scope="row" style="width: 25%">@student.StudentId</th>
                    <td style="width: 25%">@student.FirstName</td>
                    <td style="width: 25%">@student.LastName</td>
                    <td style="width: 25%"><a class="btn btn-info" 
                            asp-controller="Student" asp-action="StudentEdit" asp-route-studentId="@student.StudentId" 
                                asp-route-groupId="@Model.CurrentGroupId" asp-route-groupName="@Model.CurrentGroupName">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


